################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
artifacts/
bin/
obj/
.user
.cr/
